/*add order details topbar */

.sc_add_order_nav {
    overflow: hidden;
    background-color: #f1f1f1;
}

.sc_add_order_topbar {
    position: sticky;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.sc_add_order_topbar a {
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 20px;
    color: black;
}

.sc_add_order_topbar a.sc_add_order_active {
    background-color: #04AA6D;
    color: white;
}

.sc_add_order_topbar a:hover:not(.sc_add_order_active) {
    background-color: #555;
    color: white;
}


/* add record session */

.sc_ao_add_Record {
    margin-top: 20px;
}

.sc_aruote_body form {
    padding: 0px 10px;
}

.sc_ar_title {
    font-size: 30px;
    font-weight: bold;
}

.sc_ar_subtitle {
    font-size: 20px;
}

.sc_ar_row {
    display: flex;
    width: 100%;
    font-family: 'century gothic';
}

.sc_ar_col1,
.sc_ar_col2 {
    width: 45%;
}

.sc_ar_col1 {
    margin-right: 5%;
}

.sc_ar_col2 {
    margin-left: 5%;
}

.sc_ar_col3 {
    width: 100%;
}

.sc_ar_col1 p,
.sc_ar_col2 p,
.sc_ar_col3 p {
    margin-bottom: 10px;
}

.sc_ar_col1 input,
.sc_ar_col2 input,
.sc_ar_col1 select,
.sc_ar_col2 select {
    height: 40px;
    width: 95%;
    border-radius: 5px;
    border: 2px solid #2a435b;
    font-size: 20px;
    font-family: 'century gothic';
}

.sc_ar_col3 input {
    width: 98%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #8e8b91;
    font-size: 20px;
    font-family: 'century gothic';
}

.sc_ar_row {
    padding: 2%;
    width: 96%;
}

.sc_ar_flex {
    display: flex;
}

.sc_ar_subcol1 {
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol2 {
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol3 {
    width: 22%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol4 {
    width: 78%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol3_qty {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol4_qty {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_submit {
    margin: 50px;
    text-align: center;
}

.sc_ar_submit button {
    padding: 10px 60px;
    font-size: 20px;
    background-color: #2a435b;
    border-radius: 20px;
    color: white;
    border: 2px solid #2a435b;
    cursor: pointer;
}

.sc_ar_submit button:hover {
    background-color: white;
    color: #2a435b;
    border: 2px solid #2a435b;
}


/* *********************************************************************************************************** */


/* view record session  */

.sc_view_record {
    margin-top: 20px;
    /* font-size: 20px; */
    font-weight: bold;
}

.sc_view_record_table a {
    text-decoration: none;
}

th {
    background-color: #2a435b;
    color: white;
    padding: 10px;
}

table,
td,
th {
    border: 2px solid #4d4d4d;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px;
}

.sc_view_record_editbtn {
    width: 80px;
    height: 30px;
    background-color: #2a435b;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    border-radius: 40px;
    color: #ffffff;
    border: 2px solid #2a435b;
    border-radius: 15px;
    font-weight: 20;
}

.sc_view_record_editbtn:hover {
    background-color: white;
    border: 2px solid #2a435b;
    color: #2a435b;
}

.sc_view_record_deletebtn {
    width: 80px;
    height: 30px;
    background-color: red;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    border-radius: 40px;
    color: #ffffff;
    border: 2px solid red;
    border-radius: 15px;
}

.sc_view_record_deletebtn:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

.sc_viewrecord_row {
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

.sc_viewrecord_col50 {
    width: 50%;
}

#sc_enter_code {
    height: 34px;
    width: 50%;
    padding: 0px 10px;
    border: 2px solid #2a435b;
    border-radius: 5px;
    font-size: 20px;
}

.sc_search_btn {
    height: 40px;
    width: 45px;
    border-radius: 10px;
    border: 1px solid #2a435b;
    color: white;
    background-color: #2a435b;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 5px;
}

.sc_search_btn:hover {
    background-color: white;
    border: 2px solid #2a435b;
    color: #2a435b;
}

.sc_viewall_btn {
    float: right;
    width: 100px;
    height: 40px;
    background-color: #2a435b;
    cursor: pointer;
    border: 2px solid #2a435b;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.sc_viewall_btn:hover {
    background-color: white;
    border: 2px solid #2a435b;
    color: #2a435b;
}


/* ************************************************************************************************************** */


/* size css */

.sc_container2 {
    background-color: #40566C;
    width: 95%;
    height: 70vh;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    overflow-y: scroll;
}

.no_margin {
    margin-top: 0px !important;
}

.sc_div_col {
    width: 23%;
    padding: 1%;
    float: left;
}

.sc_div_col1 {
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    /* padding: 30% 20%; */
    height: 150px;
    width: 150px;
    margin: 1% 2% 5% 2%;
    border-radius: 20px;
}

.sc_perDiv {
    width: 100%;
    height: 200px;
    margin: 1% 0%;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.sc_perDiv img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.85;
    backdrop-filter: blur(6px);
    object-fit: cover;
}

.sc_perDiv_img_hover {
    text-decoration: none;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0s all;
}

.sc_perDiv_img_hover:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.sc_div_row {
    width: 100%;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px none;
    border-radius: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #2a435b;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #638eb6;
}

.sc_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    opacity: 1;
    text-align: center;
}


/* size popup */


/* size popup for add */

.sc_form-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(110, 109, 109, 0.5);
    z-index: 6;
    color: #ffffff;
}

.sc_size_add_container {
    width: 60%;
    height: 80%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_size_closebtn {
    padding: 10px;
}

.sc_user_closebtn {
    margin-right: 30px;
    float: right;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(223, 215, 215);
    ;
    color: #2a435b;
    cursor: pointer;
    font-size: 30px;
}

.sc_user_closebtn:hover {
    color: red;
}

.sc_size_popup_content {
    margin-top: 10%;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.sc_sz_col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 20px;
}

.sc_sz_col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
    margin-bottom: 20px;
}

#sname {
    width: 100%;
}

#img {
    margin-bottom: 20px;
}

.sc_display_img {
    padding-bottom: 20px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.sc_display_img img {
    width: 220px;
    height: 200px;
    border-radius: 20px;
}

.sc_sz_savebtn {
    margin: 50px;
    text-align: center;
}

.sc_sz_savebtn button {
    padding: 10px 60px;
    font-size: 20px;
    background-color: #2a435b;
    border-radius: 20px;
    color: white;
    border: 2px solid #2a435b;
    cursor: pointer;
}

.sc_sz_savebtn button:hover {
    background-color: white;
    color: #2a435b;
    border: 2px solid #2a435b;
}


/* ************************************************************************************* */


/* size popup for edit */

.sc_sz_edit_container {
    width: 60%;
    height: 80%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_sz_editrow {
    display: flex;
    margin-top: 10%;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.sc_sz_edit_col1 {
    width: 40%;
    padding: 10px;
}

.sc_sz_edit_img {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
}

.sc_sz_edit_img img {
    width: 100%;
    height: 200px;
    border-radius: 30px;
}

#imge,
#mimge {
    display: none;
}

.overlay {
    background-color: rgb(126, 115, 115);
    transition: .5s ease;
    opacity: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.sc_sz_edit_img:hover img {
    background-color: rgb(126, 115, 115);
    opacity: 0.3;
}

.icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.sc_sz_edit_col2 {
    width: 60%;
    padding: 10px;
}

.sc_sz_edit_label {
    font-size: 20px;
    padding-bottom: 20px;
}

.sc_sz_edit_input {
    width: 100%;
}

#snname,
#qty,
#msnname,
#mqty {
    width: 92%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 20px;
    resize: vertical;
}

.sc_sz_editbutton {
    float: right;
    font-size: 16px;
    color: #2a435b;
    cursor: pointer;
    border: 2px;
    background-color: #dfd7d7;
}

.sc_sz_editbutton:hover {
    background-color: #2a435b;
    color: white;
    border: 2px solid #2a435b;
    border-radius: 5px;
    padding: 1px;
}

.sc_sz_editbutton_active {
    background-color: #2a435b;
    color: white;
    border: 2px solid #2a435b;
    border-radius: 5px;
    padding: 1px;
}


/* for pop-up */

.sc_form-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(110, 109, 109, 0.5);
    z-index: 6;
    color: black;
}

.sc_user_info {
    width: 60%;
    height: 80%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}


/* for update */

.sc_user_info_update_systemA {
    width: 60%;
    height: 90%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_user_info_update_systemB {
    width: 60%;
    height: 85%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}


/* for update box in instore part */

.sc_user_info_instore {
    width: 60%;
    height: 60%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}


/* for update box in fororder part*/

.sc_user_info_fororder {
    width: 60%;
    height: 70%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_user_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sc_user_description {
    padding-top: 60px;
    font-size: 20px;
    font-weight: bolder;
}

.sc_user_closebtn {
    margin-right: 30px;
    float: right;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(223, 215, 215);
    ;
    color: #2a435b;
    cursor: pointer;
    font-size: 30px;
}

.sc_user_closebtn:hover {
    color: red;
}


/* popup ends */


/* for update */

input[type=text],
select,
textarea {
    width: 95%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 22px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #28a745;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #28a745;
}

.uo_upload_pdf input[type=submit] {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    /* margin-top: -5px; */
    margin: 0px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: inherit;
    font-size: 20px;
}

.sc_edit_form {
    border-radius: 5px;
    padding: 30px;
}

.col2-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col2-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.sc_col2_row:after {
    content: "";
    display: table;
    clear: both;
}


/* for add_product_wage css */

.add_product_wage {
    /* background-color: #04AA6D; */
    margin: 6% 14% 20% 17%;
}

.sidebyside_display {
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.for_label {
    width: 20%;
}

.for_label label {
    float: right;
}

.for_dropdown {
    width: 80%;
}

.for_save_button {
    /* background-color: #04AA6D; */
    width: 60%;
    text-align: center;
}

.for_save_button button {
    padding: 10px 20px;
    background-color: #28a745;
    border: 2px solid #28a745;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    /* float: right; */
}


/* per_user_page css */

.per_user_page_row1 {
    width: 60%;
    padding: 4% 5% 1% 33%;
    display: flex;
}

.sidebyside_display_user {
    display: flex;
    width: 50%;
    margin-top: 5%;
}

.for_search_button {
    width: 50%;
    /* background-color: #04AA6D; */
    margin-top: 5%;
    margin-left: 5%;
}

.for_search_button button {
    padding: 10px 20px;
    background-color: #28a745;
    border: 2px solid #28a745;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.rpo_uploaded_pdfList_user {
    padding: 0% 5% 5% 20%;
}


/*add order details topbar */

.sc_add_order_nav {
    overflow: hidden;
    background-color: #f1f1f1;
}

.sc_add_order_topbar {
    position: sticky;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.sc_add_order_topbar a {
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 20px;
    color: black;
}

.sc_add_order_topbar a.sc_add_order_active {
    background-color: #04AA6D;
    color: white;
}

.sc_add_order_topbar a:hover:not(.sc_add_order_active) {
    background-color: #555;
    color: white;
}


/* add record session */

.sc_ao_add_Record {
    margin-top: 20px;
}

.sc_aruote_body form {
    padding: 0px 10px;
}

.sc_ar_title {
    font-size: 30px;
    font-weight: bold;
}

.sc_ar_subtitle {
    font-size: 20px;
}

.sc_ar_row {
    display: flex;
    width: 100%;
    font-family: 'century gothic';
}

.sc_ar_col1,
.sc_ar_col2 {
    width: 45%;
}

.sc_ar_col1 {
    margin-right: 5%;
}

.sc_ar_col2 {
    margin-left: 5%;
}

.sc_ar_col3 {
    width: 100%;
}

.sc_ar_col1 p,
.sc_ar_col2 p,
.sc_ar_col3 p {
    margin-bottom: 10px;
}

.sc_ar_col1 input,
.sc_ar_col2 input,
.sc_ar_col1 select,
.sc_ar_col2 select {
    height: 40px;
    width: 95%;
    border-radius: 5px;
    border: 2px solid #2a435b;
    font-size: 20px;
    font-family: 'century gothic';
}

.sc_ar_col3 input {
    width: 98%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #8e8b91;
    font-size: 20px;
    font-family: 'century gothic';
}

.sc_ar_row {
    padding: 2%;
    width: 96%;
}

.sc_ar_flex {
    display: flex;
}

.sc_ar_subcol1 {
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol2 {
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol3 {
    width: 22%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol4 {
    width: 78%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol3_qty {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_subcol4_qty {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.sc_ar_submit {
    margin: 50px;
    text-align: center;
}

.sc_ar_submit button {
    padding: 10px 60px;
    font-size: 20px;
    background-color: #2a435b;
    border-radius: 20px;
    color: white;
    border: 2px solid #2a435b;
    cursor: pointer;
}

.sc_ar_submit button:hover {
    background-color: white;
    color: #2a435b;
    border: 2px solid #2a435b;
}


/* *********************************************************************************************************** */


/* view record session  */

.sc_view_record {
    margin-top: 20px;
    /* font-size: 20px; */
    font-weight: bold;
}

.sc_view_record_table a {
    text-decoration: none;
}

th {
    background-color: #2a435b;
    color: white;
    padding: 10px;
}

table,
td,
th {
    border: 2px solid #4d4d4d;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px;
}

.sc_view_record_editbtn {
    width: 80px;
    height: 30px;
    background-color: #2a435b;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    border-radius: 40px;
    color: #ffffff;
    border: 2px solid #2a435b;
    border-radius: 15px;
    font-weight: 20;
}

.sc_view_record_editbtn:hover {
    background-color: white;
    border: 2px solid #2a435b;
    color: #2a435b;
}

.sc_view_record_deletebtn {
    width: 80px;
    height: 30px;
    background-color: red;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    border-radius: 40px;
    color: #ffffff;
    border: 2px solid red;
    border-radius: 15px;
}

.sc_view_record_deletebtn:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

.sc_viewrecord_row {
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

.sc_viewrecord_col50 {
    width: 50%;
}

#sc_enter_code {
    height: 34px;
    width: 50%;
    padding: 0px 10px;
    border: 2px solid #2a435b;
    border-radius: 5px;
    font-size: 20px;
}

.sc_search_btn {
    height: 40px;
    width: 45px;
    border-radius: 10px;
    border: 1px solid #2a435b;
    color: white;
    background-color: #2a435b;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 5px;
}

.sc_search_btn:hover {
    background-color: white;
    border: 2px solid #2a435b;
    color: #2a435b;
}

.sc_viewall_btn {
    float: right;
    width: 100px;
    height: 40px;
    background-color: #2a435b;
    cursor: pointer;
    border: 2px solid #2a435b;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.sc_viewall_btn:hover {
    background-color: white;
    border: 2px solid #2a435b;
    color: #2a435b;
}


/* ************************************************************************************************************** */


/* size css */

.sc_container2 {
    background-color: #40566C;
    width: 95%;
    height: 70vh;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    overflow-y: scroll;
}

.no_margin {
    margin-top: 0px !important;
}

.sc_div_col {
    width: 23%;
    padding: 1%;
    float: left;
}

.sc_div_col1 {
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    /* padding: 30% 20%; */
    height: 150px;
    width: 150px;
    margin: 1% 2% 5% 2%;
    border-radius: 20px;
}

.sc_perDiv {
    width: 100%;
    height: 200px;
    margin: 1% 0%;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.sc_perDiv img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.85;
    backdrop-filter: blur(6px);
    object-fit: cover;
}

.sc_perDiv_img_hover {
    text-decoration: none;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0s all;
}

.sc_perDiv_img_hover:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.sc_div_row {
    width: 100%;
}


/* width */

 ::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px none;
    border-radius: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #2a435b;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #638eb6;
}

.sc_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    opacity: 1;
    text-align: center;
}


/* size popup */


/* size popup for add */

.sc_form-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(110, 109, 109, 0.5);
    z-index: 6;
    color: #ffffff;
}

.sc_size_add_container {
    width: 60%;
    height: 80%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_size_closebtn {
    padding: 10px;
}

.sc_user_closebtn {
    margin-right: 30px;
    float: right;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(223, 215, 215);
    ;
    color: #2a435b;
    cursor: pointer;
    font-size: 30px;
}

.sc_user_closebtn:hover {
    color: red;
}

.sc_size_popup_content {
    margin-top: 10%;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.sc_sz_col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 20px;
}

.sc_sz_col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
    margin-bottom: 20px;
}

#sname {
    width: 100%;
}

#img {
    margin-bottom: 20px;
}

.sc_display_img {
    padding-bottom: 20px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.sc_display_img img {
    width: 220px;
    height: 200px;
    border-radius: 20px;
}

.sc_sz_savebtn {
    margin: 50px;
    text-align: center;
}

.sc_sz_savebtn button {
    padding: 10px 60px;
    font-size: 20px;
    background-color: #2a435b;
    border-radius: 20px;
    color: white;
    border: 2px solid #2a435b;
    cursor: pointer;
}

.sc_sz_savebtn button:hover {
    background-color: white;
    color: #2a435b;
    border: 2px solid #2a435b;
}


/* ************************************************************************************* */


/* size popup for edit */

.sc_sz_edit_container {
    width: 60%;
    height: 80%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_sz_editrow {
    display: flex;
    margin-top: 10%;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.sc_sz_edit_col1 {
    width: 40%;
    padding: 10px;
}

.sc_sz_edit_img {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
}

.sc_sz_edit_img img {
    width: 100%;
    height: 200px;
    border-radius: 30px;
}

#imge,
#mimge {
    display: none;
}

.overlay {
    background-color: rgb(126, 115, 115);
    transition: .5s ease;
    opacity: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.sc_sz_edit_img:hover img {
    background-color: rgb(126, 115, 115);
    opacity: 0.3;
}

.icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.sc_sz_edit_col2 {
    width: 60%;
    padding: 10px;
}

.sc_sz_edit_label {
    font-size: 20px;
    padding-bottom: 20px;
}

.sc_sz_edit_input {
    width: 100%;
}

#snname,
#qty,
#msnname,
#mqty {
    width: 92%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 20px;
    resize: vertical;
}

.sc_sz_editbutton {
    float: right;
    font-size: 16px;
    color: #2a435b;
    cursor: pointer;
    border: 2px;
    background-color: #dfd7d7;
}

.sc_sz_editbutton:hover {
    background-color: #2a435b;
    color: white;
    border: 2px solid #2a435b;
    border-radius: 5px;
    padding: 1px;
}

.sc_sz_editbutton_active {
    background-color: #2a435b;
    color: white;
    border: 2px solid #2a435b;
    border-radius: 5px;
    padding: 1px;
}


/* for pop-up */

.sc_form-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(110, 109, 109, 0.5);
    z-index: 6;
    color: black;
}

.sc_user_info {
    width: 60%;
    height: 80%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}


/* for update */

.sc_user_info_update_systemA {
    width: 60%;
    height: 90%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_user_info_update_systemB {
    width: 60%;
    height: 85%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}


/* for update box in instore part */

.sc_user_info_instore {
    width: 60%;
    height: 60%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}


/* for update box in fororder part*/

.sc_user_info_fororder {
    width: 60%;
    height: 70%;
    margin-top: 4%;
    background-color: rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.sc_user_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sc_user_description {
    padding-top: 60px;
    font-size: 20px;
    font-weight: bolder;
}

.sc_user_closebtn {
    margin-right: 30px;
    float: right;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(223, 215, 215);
    ;
    color: #2a435b;
    cursor: pointer;
    font-size: 30px;
}

.sc_user_closebtn:hover {
    color: red;
}


/* popup ends */


/* for update */

input[type=text],
select,
textarea {
    width: 95%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 22px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #28a745;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #28a745;
}

.uo_upload_pdf input[type=submit] {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    /* margin-top: -5px; */
    margin: 0px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: inherit;
    font-size: 20px;
}

.sc_edit_form {
    border-radius: 5px;
    padding: 30px;
}

.col2-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col2-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.sc_col2_row:after {
    content: "";
    display: table;
    clear: both;
}


/* product_wage session */

.sc_editbtn {
    width: 80px;
    height: 30px;
    background-color: #2a435b;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    border-radius: 40px;
    color: #ffffff;
    border: 2px solid #2a435b;
    border-radius: 15px;
    font-weight: 20;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #2a435b;
    color: white;
    padding: 10px;
}

td {
    padding: 5px;
    color: black;
    font-weight: bold;
}

.sc_user_backbtn {
    margin-right: 30px;
    float: left;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(223, 215, 215);
    color: #2a435b;
    cursor: pointer;
    font-size: 30px;
}

.sc_user_updatebtn {
    padding: 10px 20px;
    background-color: #28a745;
    border: 2px solid #28a745;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    /* float: right; */
    font-weight: 20;
}

.sc_staff_details_container {
    height: 100%;
    width: 94%;
    margin: 0px 0px 20px 0px;
    padding: 0px 3%;
}


/* per_product_wage */

.sc_user_updatewage {
    display: flex;
}

.sc_user_updatewage input {
    height: 12px;
    width: 20%;
    border-radius: 5px;
    border: 2px solid #2a435b;
    font-size: 20px;
    font-family: 'century gothic';
    padding-left: 10px;
    margin-left: 12px;
    margin-top: 10px;
}